.dice-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.dice-area {
  text-align: center;
}

h2 {
  margin: 2rem 0;
}

p {
  font-size: 1.6rem;
  margin: 3rem 0;
}

.btn {
  background-color: #836fa9;
  border: none;
  outline: none;
  padding: 1.5rem 0;
  width: 15rem;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.reset {
  background-color: transparent;
  color: #836fa9;
}

ul {
  list-style: none;
  font-size: 1.6rem;
}
